{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}KVO Project{% endblock %}</title>
    {% block stylesheets %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" rel="stylesheet">
        <link href="//cdn.rawgit.com/t0m/select2-bootstrap-css/bootstrap3/select2-bootstrap.css" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path('homepage') }}" class="navbar-brand">KVO Project</a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">
                                    Edit Profile
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">
                                    Change Password
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    Logout
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">
                                    REGISTER
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">
                                    LOGIN
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>

    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-9">
                {% block main %}
                    <div class="container"></div>

                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container modal-footer">
            <p>&copy; 2018 - KVO Project</p>
        </div>
    </footer>
{% endblock %}
    {#<div class="container">#}
        {#{{#}
        {#render(#}
            {#controller('AppBundle:Default:index')#}
        {#)#}
        {#}}#}
    {#</div>#}
{% block javascripts %}{% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>

    <script src="{{ asset('js/app.js') }}"></script>

    {#<script>#}
        {#$(document).ready(function(){#}

            {#$('#country').typeahead({#}
                {#source: function(query, result)#}
                {#{#}
                    {#$.ajax({#}
                        {#url:{{ path('raw_search') }},#}
                        {#method:"POST",#}
                        {#data:{query:query},#}
                        {#dataType:"json",#}
                        {#success:function(data)#}
                        {#{#}
                            {#result($.map(data, function(item){#}
                                {#return item;#}
                            {#}));#}
                        {#}#}
                    {#})#}
                {#}#}
            {#});#}

        {#});#}
        {#</script>#}




</body>
</html>
