{% extends 'base.html.twig' %}

{% block body %}
   <div>

      <a href="{{ path('day_generate') }}">
         <img src="{{ asset('images/1-day+Meal+Plan+(2).png') }}" alt="day_meal" width="500"height="500">
      </a>
   <a href="{{ path('week_view') }}">
      <img src="{{ asset('images/Weekly_Meal.jpg') }}" alt="weekly_meal"  >
   </a>


   </div>   <li>
      <a href="{{ path('raw_create') }}">
         Add new ingredient
      </a>
   </li>

     <li>
   <a href="{{ path('recipe_create') }}">
      Add new recipe
   </a>
</li>


   <li>
      <a href="{{ path('week_generate') }}">
         Generate Week
      </a>
   </li>


  {% endblock %}

