{% extends 'base.html.twig' %}

{% block body %}


 <div class="container body-content span=8 offset=2">
  <div class="well">
  <!-- Card Start -->
  <div class="card well">
    <div class="row ">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title">{{  day.breakfast.name }}</h4>
          <p class="card-text">
            The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
          </p>
          <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
          <br>
          <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
        </div>
      </div> <div class="food1">
              <img class="rounded " src="{{day.breakfast.picture}}" alt="">
            </div>
     
    </div>
  </div>
  <!-- End of card -->
   <!-- Card Start -->
  <div class="card well" >
    <div class="row ">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title">{{  day.snack1.name }}</h4>
          <p class="card-text">
            The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
          </p>
          <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
          <br>
          <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
        </div>
      </div> <div class="food1">
              <img class="rounded " src="{{day.snack1.picture}}" alt="">
            </div>
     
    </div>
  </div>
  <!-- End of card -->
   <!-- Card Start -->
  <div class="card well">
    <div class="row ">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title">{{  day.dinner1.name }}</h4>
          <p class="card-text">
            The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
          </p>
          <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
          <br>
          <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
        </div>
      </div> <div class="food1">
              <img class="rounded " src="{{day.dinner1.picture}}" alt="">
            </div>
     
    </div>
  </div>
  <!-- End of card -->
   <!-- Card Start -->
  <div class="card well">
    <div class="row ">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title">{{  day.snack2.name }}</h4>
          <p class="card-text">
            The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
          </p>
          <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
          <br>
          <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
        </div>
      </div> <div class="food1">
              <img class="rounded " src="{{day.snack2.picture}}" alt="">
            </div>
     
    </div>
  </div>
  <!-- End of card -->
   <!-- Card Start -->
  <div class="card well">
    <div class="row ">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title">{{  day.dinner2.name }}</h4>
          <p class="card-text">
            The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
          </p>
          <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
          <br>
          <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
        </div>
      </div> <div class="food1">
              <img class="rounded " src="{{day.dinner2.picture}}" alt="">
            </div>
     
    </div>
  </div>
  <!-- End of card -->
  

  </div>
 </div>


{% endblock %}
