{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ asset('css/slider.css') }}" rel="stylesheet">



    <div class="container body-content span=8 offset=2">
        <div class="well">


            <form class="form-horizontal" action="{{ path('week_filter') }}" method="POST">
                <fieldset>
                    <legend>Week Plan Filter</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Kcal per Day:</label>
                        <div class="col-sm-4 ">
                            <input type="range" min="1000" max="5000" value="{{ filter.kcal }}" class="slider" id="myRange" name="filter[kcal]">
                            <p> <span id="demo"></span> Kcal</p>

                        </div>
                    </div>
                    <script>
                        var slider = document.getElementById("myRange");
                        var output = document.getElementById("demo");
                        output.innerHTML = slider.value;

                        slider.oninput = function() {
                            output.innerHTML = this.value;
                        }
                    </script>


                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Budget:</label>
                        <div class="col-sm-4 ">
                            <input type="range" min="5" max="50" value="{{ filter.budget }}" class="slider" id="myRange2" name="filter[price]">
                            <p> <span id="demo2"></span> lv.</p>

                        </div>
                    </div>



                    <script>
                        var slider2 = document.getElementById("myRange2");
                        var output2 = document.getElementById("demo2");
                        output2.innerHTML = slider2.value;

                        slider2.oninput = function() {
                            output2.innerHTML = this.value;
                        }
                    </script>



                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

