{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <table style="width:100%">
                <tr>
                    <th></th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>

                    <th></th>
                </tr>
                <tr>
                    <td>Breakfast</td>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.monday.breakfast.id,'type': "Raw" }) }}">
                            {{plan.monday.breakfast.name}}
                        </a> </th>


                     <th> <a href="{{ path('recipe_view' , {'id': plan.tuesday.breakfast.id,'type': "Raw" }) }}"> {{plan.tuesday.breakfast.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.wednesday.breakfast.id,'type': "Raw" }) }}">{{plan.wednesday.breakfast.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.thursday.breakfast.id,'type': "Raw" }) }}">{{plan.thursday.breakfast.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.friday.breakfast.id,'type': "Raw" }) }}">{{plan.friday.breakfast.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.saturday.breakfast.id,'type': "Raw" }) }}">{{plan.saturday.breakfast.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.sunday.breakfast.id,'type': "Raw" }) }}">{{plan.sunday.breakfast.name}}</a> </th>

                </tr>

                <tr>

                    <td>Snack</td>
                     <th><a href="{{ path('recipe_view' , {'id': plan.monday.snack1.id,'type': "Snack" }) }}">{{plan.monday.snack1.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.tuesday.snack1.id,'type': "Snack" }) }}">{{plan.tuesday.snack1.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.wednesday.snack1.id,'type': "Snack" }) }}">{{plan.wednesday.snack1.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.thursday.snack1.id,'type': "Snack" }) }}">{{plan.thursday.snack1.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.friday.snack1.id,'type': "Snack" }) }}">{{plan.friday.snack1.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.saturday.snack1.id,'type': "Snack" }) }}">{{plan.saturday.snack1.name}}</a> </th>
                     <th> <a href="{{ path('recipe_view' , {'id': plan.sunday.snack1.id,'type': "Snack" }) }}">{{plan.sunday.snack1.name}}</a> </th>

                </tr>

                <tr>
                    <td>Meal</td>
                    <th><a href="{{ path('recipe_view' , {'id': plan.monday.dinner1.id,'type': "Dinner" }) }}">{{plan.monday.dinner1.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.tuesday.dinner1.id,'type': "Dinner" }) }}">{{plan.tuesday.dinner1.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.wednesday.dinner1.id,'type': "Dinner" }) }}">{{plan.wednesday.dinner1.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.thursday.dinner1.id,'type': "Dinner" }) }}">{{plan.thursday.dinner1.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.friday.dinner1.id,'type': "Dinner" }) }}">{{plan.friday.dinner1.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.saturday.dinner1.id,'type': "Dinner" }) }}">{{plan.saturday.dinner1.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.sunday.dinner1.id,'type': "Dinner" }) }}">{{plan.sunday.dinner1.name}}</a> </th>

                </tr>

                <tr>

                    <td>Snack</td>
                    <th><a href="{{ path('recipe_view' , {'id': plan.monday.snack2.id,'type': "Snack" }) }}">{{plan.monday.snack2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.tuesday.snack2.id,'type': "Snack" }) }}">{{plan.tuesday.snack2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.wednesday.snack2.id,'type': "Snack" }) }}">{{plan.wednesday.snack2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.thursday.snack2.id,'type': "Snack" }) }}">{{plan.thursday.snack2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.friday.snack2.id,'type': "Snack" }) }}">{{plan.friday.snack2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.saturday.snack2.id,'type': "Snack" }) }}">{{plan.saturday.snack2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.sunday.snack2.id,'type': "Snack" }) }}">{{plan.sunday.snack2.name}}</a> </th>

                </tr>

                <tr>
                    <td>Meal</td>
                    <th><a href="{{ path('recipe_view' , {'id': plan.monday.dinner2.id,'type': "Dinner" }) }}">{{plan.monday.dinner2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.tuesday.dinner2.id,'type': "Dinner" }) }}">{{plan.tuesday.dinner2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.wednesday.dinner2.id,'type': "Dinner" }) }}">{{plan.wednesday.dinner2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.thursday.dinner2.id,'type': "Dinner" }) }}">{{plan.thursday.dinner2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.friday.dinner2.id,'type': "Dinner" }) }}">{{plan.friday.dinner2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.saturday.dinner2.id,'type': "Dinner" }) }}">{{plan.saturday.dinner2.name}}</a> </th>
                    <th> <a href="{{ path('recipe_view' , {'id': plan.sunday.dinner2.id,'type': "Dinner" }) }}">{{plan.sunday.dinner2.name}}</a> </th>

                </tr>
                <tr> <th></th></tr>
                
                <tr >
                    <th> </th>

                    <th> <a class="btn btn-primary " role="button" href="{{ path('day_view' , {'day': plan.monday.id}) }}">open</a> </th>


                    <th> <a class="btn btn-primary " role="button" href="{{ path('day_view' , {'day': plan.tuesday.id}) }}">open</a> </th>
                    <th> <a class="btn btn-primary " role="button" href="{{ path('day_view' , {'day': plan.wednesday.id}) }}">open</a> </th>
                    <th> <a class="btn btn-primary " role="button" href="{{ path('day_view' , {'day': plan.thursday.id}) }}">open</a> </th>
                    <th> <a class="btn btn-primary " role="button" href="{{ path('day_view' , {'day': plan.friday.id}) }}">open</a> </th>
                    <th> <a class="btn btn-primary " role="button" href="{{ path('day_view' , {'day': plan.saturday.id}) }}">open</a> </th>
                    <th> <a class="btn btn-primary " role="button" href="{{ path('day_view' , {'day': plan.sunday.id}) }}">open</a> </th>


                </tr>

            </table>

        </div>
    </div>


{% endblock %}
